h1{color: rgb(2, 5, 36);
    font-size: 25px;
    font-family: "Boldonse";}
    
th{color: rgb(47, 2, 2);
    font-size: 25px;
    font-family: "Comic Neue";}

td{color: rgb(47, 2, 2);
    font-size: 25px;
    font-family: "Underdog";
    text-align: center;
}

table {
    height: 250px;
    width: 100%; 
      }

/* Pantallas entre 0px y 400px */
@media screen and (min-width: 0px) and (max-width: 400px) {
    body{
        background-color: cyan;
    }
}

/* Pantallas entre 401px y 700px */
@media screen and (min-width: 401px) and (max-width: 700px) {
    body{
        background-color:chocolate;
    }
}

/* Pantallas entre 701px y 1000px */
@media screen and (min-width: 701px) and (max-width: 1000px) {
    body{
        background-color:dodgerblue;
    }
}

/* Pantallas más grandes que 1000px */
@media screen and (min-width: 1001px) {
    body{
        background-color:lightsteelblue;
    }
}
